/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: '.*:PREPARE_GENOME:(GUNZIP_FASTA|GUNZIP_ANNOTATION|SAMTOOLS_FAIDX)' {
        publishDir = [
            enabled: false
        ]
    }

    withName: 'CAT_FASTQ|BOWTIE2_BUILD|BOWTIE_BUILD' {
        publishDir = [
            enabled: false
        ]
    }

    withName: '.*:FASTQ_TRIM_FASTP_FASTQC:FASTQC_RAW' {
        ext.args   = { "--quiet" }
        ext.prefix = { "${meta.id}_raw" }
        publishDir = [
            path: { "${params.outdir}/Read_QC/fastqc" },
            mode: params.publish_dir_mode,
            pattern: "*.html",
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: '.*:FASTQ_TRIM_FASTP_FASTQC:FASTP' {
        ext.args   = { "${params.fastp_args ?: ''}" }
        publishDir = [
            [
                path: { "${params.outdir}/Read_QC/fastp" },
                mode: params.publish_dir_mode,
                pattern: "*.{html,json}",
                saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
            ],
            [
                path: { "${params.outdir}/Read_QC/fastp" },
                mode: params.publish_dir_mode,
                pattern: "*.merged.fastq.gz",
                enabled: params.save_merged,
                saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
            ]
        ]
    }

    withName: '.*:FASTQ_TRIM_FASTP_FASTQC:FASTQC_TRIM' {
        ext.args   = { "--quiet" }
        ext.prefix = { "${meta.id}_trimmed" }
        publishDir = [
            path: { "${params.outdir}/Read_QC/fastqc" },
            mode: params.publish_dir_mode,
            pattern: "*.html",
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'FASTQC_MERGED' {
        ext.args   = { "--quiet" }
        ext.prefix = { "${meta.id}_merged" }
        publishDir = [
            path: { "${params.outdir}/Read_QC/fastqc" },
            mode: params.publish_dir_mode,
            pattern: "*.html",
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: '.*:FASTQ_ALIGN_BOWTIE2:BOWTIE2_ALIGN' {
        ext.prefix = { "Bowtie2-${meta.id}" }
        publishDir = [
            path: { "${params.outdir}/Alignment/Bowtie2" },
            mode: params.publish_dir_mode,
            pattern: "*.log",
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: '.*:FASTQ_ALIGN_BOWTIE2:.*:SAMTOOLS_SORT' {
        ext.prefix = { "Bowtie2-${meta.id}.sorted" }
        publishDir = [
            enabled: params.save_aligned_bam,
            path: { "${params.outdir}/Alignment/Bowtie2" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: '.*:FASTQ_ALIGN_BOWTIE2:.*:SAMTOOLS_(STATS|FLAGSTAT|IDXSTATS)' {
        ext.prefix = { "Bowtie2-${meta.id}" }
        publishDir = [
            path: { "${params.outdir}/Alignment/Bowtie2" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: '.*:FASTQ_ALIGN_BOWTIE2:.*:SAMTOOLS_INDEX' {
        publishDir = [
            enabled: params.save_aligned_bam,
            path: { "${params.outdir}/Alignment/Bowtie2" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: '.*:FASTQ_ALIGN_BOWTIE:BOWTIE_ALIGN' {
        ext.prefix = { "Bowtie-${meta.id}" }
        publishDir = [
            path: { "${params.outdir}/Alignment/Bowtie" },
            mode: params.publish_dir_mode,
            pattern: "*.log",
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: '.*:FASTQ_ALIGN_BOWTIE:.*:SAMTOOLS_SORT' {
        ext.prefix = { "Bowtie-${meta.id}.sorted" }
        publishDir = [
            enabled: params.save_aligned_bam,
            path: { "${params.outdir}/Alignment/Bowtie" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: '.*:FASTQ_ALIGN_BOWTIE:.*:SAMTOOLS_(STATS|FLAGSTAT|IDXSTATS)' {
        ext.prefix = { "Bowtie-${meta.id}" }
        publishDir = [
            path: { "${params.outdir}/Alignment/Bowtie" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: '.*:FASTQ_ALIGN_BOWTIE:.*:SAMTOOLS_INDEX' {
        publishDir = [
            enabled: params.save_aligned_bam,
            path: { "${params.outdir}/Alignment/Bowtie" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'SHORTSTACK' {
        ext.prefix = { "${meta.aligner}-ShortStack-${meta.id}" }
        publishDir = [
            path: { "${params.outdir}/Alignment/ShortStack" },
            mode: params.publish_dir_mode,
            pattern: "*.{gff3,txt}",
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'SHORTSTACK_COMPARE' {
        ext.prefix = { "${meta.id}" }
        publishDir = [
            path: { "${params.outdir}/Alignment/ShortStack_Compare" },
            mode: params.publish_dir_mode,
            pattern: "*.{gff3,txt}",
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'DESEQ2_QC' {
        ext.args = "--sample_suffix .merged_condensed --count_col 4"
        publishDir = [
            path: { "${params.outdir}/Alignment/ShortStack_Compare/QC/deseq2" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'SHORTSTACK_SUM_COUNTS' {
        ext.args = "--sample_suffix .merged_condensed"
        publishDir = [
            path: { "${params.outdir}/Alignment/ShortStack_Compare/QC/ShortStack" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'MULTIQC' {
        ext.args   = { params.multiqc_title ? "--title \"$params.multiqc_title\"" : '' }
        publishDir = [
            path: { "${params.outdir}/multiqc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

}
